
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="static/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="static/css/newStyle.css" rel="stylesheet" type="text/css">
    <title>Fundación Plan Perritos</title>

</head>

<body>

<header>
<!-- Navigation -->  
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
      <a class="navbar-brand" href="base.html"><img class="card-img-top" src="static/img/logo.png" alt=""></a>
      
       
        
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="base.html">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="quienes.html">Quienes somos</a>
            </li>
           
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ¿Cómo ayudar?
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item" href="portfolio-1-col.html">Recolección de tapias</a>
                <a class="dropdown-item" href="portfolio-2-col.html">Donaciones</a>
                <a class="dropdown-item" href="portfolio-3-col.html">Voluntariado</a>
                <a class="dropdown-item" href="portfolio-4-col.html">Tienda</a>
                
              </div>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="eventos.html">Eventos</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="campañas.html">Campañas</a>
            </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                <a class="dropdown-item" href="noticias.html">Noticias</a>
                <a class="dropdown-item" href="clasificados.html">Clasificados</a>
                 <li class="nav-item">
              <a class="nav-link" href="contactenos.html">Contáctenos</a>
            </li>
              </div>
           
          </ul>
        </div>
      </div>
    </nav>
</header>



<div class="container">
    <div class="row text-center">
       
                 <div class="col-lg-12 col-md-6 mb-4 mt-4">
                <div class="card-body">
                    <h2 class="card-title">Prográmate con nosotros</h2>
                    </div>
                    </div>
                    </div>
                    
       <div class="row text-center">
        <div class="col-lg-5 col-md-6 mb-4 mt-4">
            <div class="card">
                <img class="card-img-top" src="static/img/evento/foto2.png" alt="Campaña 1">
                </div>
                </div>
             <div class="col-lg-7 col-md-6 mb-4 mt-4">
                <div class="card-body">
                    <h2 class="card-title">Noticia 1</h2>
                    
                    <br>
                    <p class="card-text">Próximamente estaremos realizando charlas masivas en compañías, centros educativos, instituciones universitarias donde fortaleceremos la relación con los perros y gatos.</p>
                    
                
            </div>
        </div>
        </div>
      
      
      <div class="row text-center">
        
             <div class="col-lg-7 col-md-6 mb-4 mt-4">
                <div class="card-body">
                   <h2 class="card-title">Noticia 2</h2>
                    
                    <p class="card-text">Por medio de la asistencia con el trabajo 
voluntario y de profesionales en veterinaria se dará acompañamiento a estos animales que han sido rescatados.</p>
                    
                
            </div>
        </div>
        <div class="col-lg-5 col-md-6 mb-4 mt-4">
            <div class="card">
                <img class="card-img-top" src="static/img/evento/foto3.png" alt="Campaña 2">
                </div>
                </div>
      </div>
      
  
        <div class="row text-center">
        <div class="col-lg-5 col-md-6 mb-4 mt-4">
            <div class="card">
                <img class="card-img-top" src="static/img/evento/foto4.png" alt="Campaña 1">
                </div>
                </div>
             <div class="col-lg-7 col-md-6 mb-4 mt-4">
                <div class="card-body">
                    <h2 class="card-title">Noticia 3</h2>
                    
                    <br>
                    <p class="card-text">La fundación Plan Perritos ayuda en la difusión de perros que han sido rescatados y que ahora buscan un hogar.</p>
                    
                
            </div>
        </div>
        </div>
        
        <div class="row text-center">
        
             <div class="col-lg-7 col-md-6 mb-4 mt-4">
                <div class="card-body">
                   <h2 class="card-title">Noticia 4</h2>
                    <br>
                    <p class="card-text">En el año 20016 y 2017 hemos dado hogar a 50 perritos y 30 gatos, con la ayuda de las difusiones realizadas por nuestro equipo de trabajo</p>
                    
                
            </div>
        </div>
        <div class="col-lg-5 col-md-6 mb-4 mt-4">
            <div class="card">
                <img class="card-img-top" src="static/img/evento/foto3.png" alt="Campaña 2">
                </div>
                </div>
      </div>


<footer class="py-5 bg-info">
    <div class="text-center">
        <ul>
            <li class="bigpixi-footer-social__list-item">
                <a class="bigpixi-footer__icon-link" href="https://facebook.com">
                    <img class="bigpixi-footer-social__icon" alt="Facebook" src="static/img/logos/fbLogo-01.png">
                </a>
            </li>
            <li class="bigpixi-footer-social__list-item">
                <a class="bigpixi-footer__icon-link" href="https://instagram.com">
                    <img class="bigpixi-footer-social__icon" alt="Instagram" src="static/img/logos/instagramLogo-01.png">
                </a>
            </li>
            
            <p class="text-center">Plan Perritos<br>Calle 11 c #73-82 Castilla</p>
            
        </ul>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>




</body>
</html>